.cars {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
}

.cars a {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.cars p, .cars h2 {
    margin: 0;
}

.cars img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}